 .header {
    background: linear-gradient(to right,#9c27b0, #c4dcf0);
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100wh;
    height: 100px;
    right: 0;
    top: 0;
    left: 0;
} 