input {
    width: 400px;
    height: 40px;
    outline: none;
    padding-left: 15px;
    font-size: 20px;
    border-radius: 10px;
    border-color: none;
    border: 1px solid rgba(138, 122, 122, 0.5);
    box-shadow: 0px 2px  3px rgba(220, 223, 237, 0.3);  
    &:hover {
        background-color: bisque;
        border-radius: 10px;
        transition: 1s;
        outline: none;    
    }
    inp-details {
        height: 100px;
    }

}




.input-control small {
    visibility: hidden;
    position: absolute;
    
  }

  .input-control.success input {
    border-color: #2ecc71;
}

.input-control.error small {
    visibility: visible;
    color: #e74c3c;
}


.input-control.success input {
    border-color: #2ecc71;
}

.input-control.error input {
    border-color: #e74c3c;
    font-size: 20px;
}